# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.venv/
venv/
env/

# Jupyter / IPython
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment / secrets
.env
*.env

# Data files (DO NOT COMMIT)
data/*
!data/.gitkeep

*.mot
*.trc
*.bvh
*.mat
*.npz
*.csv


# Media / large files
*.mp4
*.mov
*.avi
*.gif

# MuJoCo / MyoSuite
*.mjb
*.log


# IDEs
.terminal/
.vscode/
.idea/
